# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Arcade-Idle-SmartPro.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Arcade-Idle-SmartPro\.idea\.idea.Arcade-Idle-SmartPro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
